<nav>
  <div class="navbar">
    <div class="navbar-leftContent">
      <img
        src="/assets/images/icon-menu.svg"
        alt=""
        class="menu"
        (click)="viewSideNav()"
      />
      <img src="../../../assets/images/logo.svg" alt="" class="logo" />
      <ul class="navbar-links">
        <li><p>Collections</p></li>
        <li><p>Men</p></li>
        <li><p>Women</p></li>
        <li><p>About</p></li>
        <li><p>Contact</p></li>
      </ul>
    </div>
    <div class="navbar-RightContent">
      <div class="cart-b">
        <img
          src="/assets/images/icon-cart.svg"
          alt="chart"
          (click)="setVisible()"
        />
        <div class="count" *ngIf="cnt > 0">
          <p>{{ cnt }}</p>
        </div>
      </div>
      <img src="/assets/images/image-avatar.png" alt="me" />
    </div>
  </div>
</nav>
