<nav>
  <div class="navbar">
    <div class="navbar-leftContent">
      <img
        src="/assets/images/icon-menu.svg"
        alt=""
        class="menu"
        (click)="viewSideNav()"
      />
      <img src="../../../assets/images/logo.svg" alt="" class="logo" />
      <ul class="navbar-links">
        <a href="./"><p>Collections</p></a>
        <a href="./"><p>Men</p></a>
        <a href="./"><p>Women</p></a>
        <a href="./"><p>About</p></a>
        <a href="./"><p>Contact</p></a>
      </ul>
    </div>
    <div class="navbar-RightContent">
      <img
        src="/assets/images/icon-cart.svg"
        alt="chart"
        (click)="setVisible()"
      />
      <img src="/assets/images/image-avatar.png" alt="me" />
    </div>
  </div>
</nav>
